 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Vaatelainaamo</title>
	<meta http-equiv="Content-Type" content="text/htlm" charset="UTF-8"/>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Vaatelainaamo</h1>
	<br>
	<h2>Vaatteet</h2>
    <table class="table table-striped">	
		<tbody>
			<tr th:each  = "vaate : ${vaatteet}"> <!-- käydään lista läpi -->
				<td th:text="${vaate.merkki}"></td>
				<td th:text="${vaate.koko}"></td>
				<td th:text="${vaate.kuvaus}"></td>
				<td th:text="${vaate.hinta}"></td>	
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/poista/{id}(id=${vaate.id})}" class="btn btn-xs btn-danger">Poista</a></td>
			</tr>
		</tbody>
	</table>
		<div class="col-md-12" style="padding:10px 0">
		 <td sec:authorize="hasAuthority('ADMIN')"><a href="/lisaa" class="btn btn-xs btn-info">Lisaa vaate</a></td>
		 </div>
	<div class="col-md-12" style="padding:10px 0">
			<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-warning"/>
		</form>
	</div>
</div>
</body>		
</html>